.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 24px;
  }
  
  .input::placeholder {
    color: #aaa;
  }
  
  .input:focus {
    border-color: #007bff;
    outline: none;
  }
  